<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
  <add name="pjcon" connectionString=" Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Rajat\Documents\Visual Studio 2010\WebSites\PlacingJob\App_Data\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
       <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
